{%extends "layout.html"%}
{% block list%}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{%endblock%}
{%block content%}
    <div class="home">
      <h3> Upload your data</h3>
      <form action="{{ url_for('download') }}" method="POST" enctype="multipart/form-data">
        <table align='center'>
          <tr>
            <th></th><td><input type="file" name="file" value="File"></td>
          </tr>
          <tr>
            <th></th><td></td>
          </tr>
          <tr>
            <th></th><td>
            <input type="submit" name="Submit" value="Submit"></td>
          </tr>
        </table>
</form>
</div>

{%endblock%}
